<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="Main2.styles.css?v=2" rel="stylesheet">
    <link href="UIComponents/CreateNode.css" rel="stylesheet"/>
    <link href="Test.css" rel="stylesheet"/>
    <link rel="icon" href="../AppIcon/Tree.png"/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>