bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Organigram_WeCanDoIt/DesignTimeBuild/.dtbcache.v2
/.vs/Organigram_WeCanDoIt/FileContentIndex/2e532fd4-7183-452a-97ba-746df3e16e03.vsidx
/.vs/Organigram_WeCanDoIt/FileContentIndex/711a0f3d-1293-49c2-b86f-a2730ef78a86.vsidx
/.vs/Organigram_WeCanDoIt/FileContentIndex/b1edae0b-2f8c-4f2c-a65f-0f8573ac5c1a.vsidx
/.vs/Organigram_WeCanDoIt/FileContentIndex/c3c28ab3-f6bb-4467-b1d6-ddbb3e7fa7f2.vsidx
/.vs/Organigram_WeCanDoIt/FileContentIndex/e4aeb1d8-47ef-4484-972f-0d5a958d1290.vsidx
/.vs/Organigram_WeCanDoIt/v17/.futdcache.v2
/.vs/Organigram_WeCanDoIt/v17/.suo
/.vs/Organigram_WeCanDoIt/v17/DocumentLayout.json
/.vs/Organigram_WeCanDoIt5/v17/.wsuo
/.vs/Organigram_WeCanDoIt5/v17/DocumentLayout.json
/.vs/ProjectEvaluation/organigram_wecandoit.metadata.v7.bin
/.vs/ProjectEvaluation/organigram_wecandoit.projects.v7.bin
/.vs/VSWorkspaceState.json
/Main/Main/Main.csproj.user
