

<div class="create-node-container">
    <div class="create-node-container-content">
        <select class="select-node-type" >
            <option>
                OPT1
            </option>
        </select>
        
        <input type="text" placeholder="Node Name"/>
        
        <div class="Persons">
            
        </div>
    </div>
    
</div>
