
<head>
    <link rel="stylesheet" href="/_content/Components/CSS/CreateNode/PersonLayout.css"/>
</head>
<div class="person-layout-container">
    <label>@person.Nom</label>
    <label class="person-role">
    @person.RoleName
    </label>
</div>

