
<div class="form-container">
    <div class="form-content">
        <select class="select-node">
            <option >
                OPT1
            </option>
            <option>
                OPT2
            </option>
        </select>

        <input type="text" placeholder="Node Name" class="node-name"/>
    </div>
  
</div>
