<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Main.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="../CSS/CreateNode/CreateNode.css"/>
    <HeadOutlet/>
    
    <style>
        *{
        padding: 0;
        margin: 0;
        }
        body{
        height: 100vh;
        }
    </style>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>