<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="Main.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="CSS/main.css"/>
    <title>Organigram</title>

    <HeadOutlet/>

    <style>

        *{
        padding: 0;
        margin: 0;
        }
        body{
        height: 100dvh;
        position:relative;
        }
    
    </style>
</head>



<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="/_content/Components/JS/DragAndDrop.js"></script>
</body>

</html>