.person-layout-container{
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 70%;
    background: #18669d;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.person-layout-container label{
    color: white;
    pointer-events: none;
}
.person-layout-container:hover .person-role{
    opacity: 1;
}

.person-role{
    width: 100%;
    color: white;
    position: relative;
    opacity: 0;
    height: fit-content;
    top: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
    text-align: center;
}